{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "debug": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "chrome": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "destructuring": true,
      "classes": true,
      "defaultParams": true,
      "blockBindings": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "restParams": true,
      "spread": true,
      "forOf": true,
      "generators": true,
      "templateStrings": true,
      "superInFunctions": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "promise",
    "compat"
  ],
  "rules": {
    "indent": [
      1,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "eol-last": 1,
    "eqeqeq": [
      1,
      "allow-null"
    ],
    "comma-style": [
      1,
      "last"
    ],
    "linebreak-style": [
      1,
      "unix"
    ],
    "quotes": [
      1,
      "single"
    ],
    "semi": [
      1,
      "never"
    ],
    "no-extra-semi": 0,
    "semi-spacing": 0,
    "no-alert": 0,
    "no-array-constructor": 1,
    "no-caller": 1,
    "no-catch-shadow": 0,
    "no-cond-assign": 1,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-continue": 0,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-delete-var": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-vars": 1,
    "comma-dangle": 1
  }
}